/* General container for item detail */
.item-detail-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f9f9f9;
}

/* Item detail styles */
.item-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.item-detail h2 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

.item-detail p {
    font-size: 1rem;
    color: #7f8c8d;
    margin: 0.5rem 0;
}

.item-detail-img {
    flex-basis: 40%;
    margin-right: 20px;
}

.item-detail-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.item-detail-info {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.size-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.size-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4f4f4;
    transition: all 0.3s ease;
}

.size-btn:hover {
    background-color: #e0e0e0;
}

.size-btn.selected {
    background-color: #333;
    color: white;
    border-color: #333;
}

/* Loading state */
.item-detail .loading {
    font-size: 1rem;
    color: #e74c3c;
}

/* ItemCounter styles */
.item-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.item-counter-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.item-counter-controls button {
    color: #413434;
    padding: 10px;
    background-color: #bdbdbd;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
}


.item-counter-controls button:hover {
    background-color: #a2abb1;
}

.item-counter-controls p {
    margin: 0;
    font-size: 18px;
}

.item-counter-add {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item-counter-add:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 768px) {
    .item-detail {
        width: 90%;
        padding: 1.5rem;
    }

    .item-counter-controls button,
    .item-counter-add {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}