

/* Inicio */
.home-page {
    
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-page h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 2rem;
}

/* SearchBar */
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.search-bar input {
    width: 80%;
    padding: 0.8rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-bar input:focus {
    border-color: #3498db;
}

.search-bar input::placeholder {
    color: #aaa;
}

/* SearchItems */
.search-items {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: 0 auto;
}

.search-items li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-items li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search-items img {
    width: 50px; /* Tamaño pequeño para la imagen */
    height: 50px; /* Tamaño pequeño para la imagen */
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 5px;
}

.search-items h2 {
    font-size: 1.1rem;
    color: #2c3e50;
    margin: 0;
}

.search-items p {
    font-size: 1rem;
    color: #7f8c8d;
    margin: 0;
    margin-left: 1rem;
}
.search-button {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}
.search-button:hover {
    background-color: #205d86;
}



/* Estilo de los carruseles */
.carrusel-container{
    display: flex;
    flex-direction: row;
}
.carousel {
     /* Ajusta el ancho del carrusel */
    margin: 20px auto; /* Centra el carrusel */
}
.carousel-inner{
    max-width: 25rem;
}
.carousel-inner img {
    height: 30rem; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Mantiene proporción recortando lo necesario */
    border-radius: 8px; /* Opcional: bordes redondeados */
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(1); /* Opcional: Cambia el color de los controles si no son visibles */
}

/* Botones de control del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 30px; /* Cambia el tamaño de los íconos */
    width: 30px;
}
.carousel-caption{
    background-color: #2c3e50;
}

/* Media query para móviles */
@media (max-width: 767px) {
    .home-page h1 {
        font-size: 1.8rem;
    }

    .search-bar input {
        width: 90%;
        padding: 0.7rem;
        font-size: 1rem;
    }

    .search-items {
        width: 90%;
    }

    .carrusel-container{
        display: flex;
        flex-direction: column;
    }
    
    .search-items li {
        padding: 0.8rem;
    }

    .search-items h2 {
        font-size: 1rem;
    }

    .search-items p {
        font-size: 0.9rem;
    }
}


/* Media query para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    .home-page h1 {
        font-size: 2.2rem;
    }

    .search-bar input {
        width: 80%;
        padding: 0.8rem;
        font-size: 1.1rem;
    }

    .search-items {
        width: 80%;
    }

    .search-items li {
        padding: 1rem;
    }

    .search-items h2 {
        font-size: 1.2rem;
    }

    .search-items p {
        font-size: 1rem;
    }
}

